*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.header{
    width: 100VW;
    height: 5rem;
    background-color: green;
    font-size: 4rem;
    border-bottom: 2PX solid #fff;
}
.nav{
    width: 100vw;
    height: 100%;
    background-color: #B06161;
    display: flex;
   align-items: center;
    justify-content: center;
    gap: 20rem;
}
.btn{
    width: 10rem;
    height: 3rem;
    border-radius: 7px;
    border: none;
    border: 1px solid #555;
    font-weight: 900;
}
.btn:hover{
  color: black;
  background-color: #fff;
}
.div_container{
    height: 100vh;
    background: url(./robert-bye-4UGlx_OXqgs-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10rem;
    color: #6499E9;
    font-weight: 900;
   text-align: center;
   padding-top: 12rem;
   font-family: fantasy;
}
.menu_creater_box{
    height: 100vh;
    width: 100vw;
    background-color: #E1F0DA;
    padding: 5rem 7rem 4rem 7rem;
    display: flex;
    flex-wrap: wrap;
}
.menu_header{
    font-size: 5rem;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 2rem;
}

.element{
    width: 40rem;
    height: 20rem;
    background-color: #B06161;
}
.clas{
 width: 90vw;
 height: 80vh;
 background-color: #FFE4C9;
 margin: 0 auto;
 margin-top: 4rem;
 border-radius: 10px;
 /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5); */
 box-shadow: 0 0 30px #ff0000 ;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 20px;
 flex: 1;
 overflow: scroll;
}

.each_element{
 width: 35rem;
 height: 30rem;
 background-color: #ff0000;
}