*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.header{
    width: 100VW;
    height: 5rem;
    /* background-color: green; */
    font-size: 4rem;
    border-bottom: 2PX solid #fff;
}
.nav{
    width: 100vw;
    height: 100%;
    background-color: #B5C0D0;
    display: flex;
   align-items: center;
    justify-content: center;
    gap: 20rem;
}
.btn{
    width: 10rem;
    height: 3rem;
    border-radius: 7px;
    border: none;
    border: 1px solid #555;
    font-weight: 900;
}
.btn:hover{
  color: black;
  background-color: #fff;
}
.div_container{
    height: 100vh;
    background: url(./robert-bye-4UGlx_OXqgs-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10rem;
    color: #6499E9;
    font-weight: 900;
   text-align: center;
   padding-top: 12rem;
   font-family: fantasy;
}
.menu_creater_box{
    height: 100vh;
    width: 100vw;
    background-color: #E1F0DA;
    padding: 5rem 7rem 4rem 7rem;
    display: flex;
    flex-wrap: wrap;
}
.menu_header{
    font-size: 5rem;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 2rem;
}

.element{
    width: 40rem;
    height: 20rem;
    background-color: #B06161;
}
.clas{
 width: 90vw;
 height: 80vh;
 background-color: #FFE4C9;
 margin: 0 auto;
 margin-top: 4rem;
 border-radius: 10px;
 /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5); */
 /* box-shadow: 0 0 30px #ff0000 ; */
 box-shadow: 0 0 30px #6499E9 inset;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 20px;
 flex: 1;
 overflow: scroll;
 padding: 4rem 0 2rem 0;
}

.each_element{
 width: 37rem;
 height: 40rem;
 /* background-color: #ff0000; */
 border-radius: 10px;
 border: 2px solid #6499E9;
 padding: 4rem;
}
.header_of_elemnt{
    font-size: 5rem;
    /* color:black; */
    color:  #4A2C00;
    text-align: center;
    margin: 1rem;
    /* display: inline; */
    text-align: center;
    overflow: hidden;
}

.each_img{
    width: 100%;
    height: auto;
    border: 1px solid #B06161;
    border-radius: 10px;
    margin-top: 1rem;
    
}
.each_img:hover{
    transform: scale(1.1);
}
.each_btn{
    width: 15rem;
    height: 5rem;
    margin: 3rem 0 3rem 7rem;
    font-size: 3rem;
    border-radius: 7px;
    background-color:#6499E9 ;
    color: #fff;
    border: none;
}
.each_btn:hover{
    width: 15rem;
    height: 5rem;
    margin: 3rem 0 3rem 7rem;
    font-size: 3rem;
    border-radius: 7px;
    background-color:#fff;
    color: #6499E9;
    border: none;
}
.about_container{
   
    width:  125rem;
    height: 50rem;
    position: absolute;
    background-color: #FFE7E7;
    color: #001F3F;
   
    left:4%;
    top: 12%;
    font-size: 2.3rem;
    overflow: hidden;
    padding: 2rem 5rem 2rem 5rem;
    line-height: 1.9;
    border-radius: 10px;
    /* margin-right: 10rem; */
}
.remove_btn{
    width: 3rem;
    height: 2rem;
    color: #ff0000;
    font-size: 4rem;
    cursor: pointer;
    margin-left: 95%;
}
.cantact_container{
    width:400px;
    height: 100%;
    /* background-color: #ff0000; */
    position: absolute;
    top: 4.9rem;
    left: 0;
    border: 1px solid #6499E9;
    /* background-color: rgba(173, 216, 230, 0.3); */
    /* background-color: #ffffff; */
     background-color: rgba(0, 0, 0, 0.7); 
    /* box-shadow: 0 0 30px #6499E9 inset;  */
    animation: animationName 1s ease-in;
}
@keyframes animationName {
    0% {
        opacity: 0;
        
    }
    50% {
      /* Intermediate styles */
      opacity: 50%;
    }
    100% {
      /* Final styles */
      opacity: 100%;
    }
  }
.logo{
    width: 10rem;
    height: auto;
  margin-left: 15rem;
  margin-top: 5rem;
  font-weight: 900;
}
.small_head{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    /* text-align: center; */
    margin-left: 17rem;
    margin-top: 0;
}
.big_head{
    font-size: 4rem;
    color: #fff;
    margin-left: 12rem;
    font-weight: 200;
    margin-top: 1rem;
    /* margin-bottom: 8rem; */
}
.logo_div{
    font-size: 2rem;
    color: #fff;
    margin-left: 13rem;
    margin-top: 4rem;
    
}

.text_container{
    /* color: #fff; */
    font-size: 1.5rem;
    color: #fff;
    margin-left: 3rem;
    margin-top: 4rem;
}
.flex_container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    column-gap: 3rem;
}